.card {
    background-color: #fff;
    width: 315px;
    height: 484px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
}

.qr-code {
    width: 280px;
    height: 280px;
    margin-top: 18px;
    border-radius: 15px;
}

.title {
    width: 254px;
    margin: 9px auto 0;
    font-size: 22px;
    font-weight: 600;
    color: #1F3251;
}

.description {
    width: 243px;
    font-size: 15px;
    margin: 19px auto 0;
    font-weight: 400;
    color: #7B879D;
}